$background-colour: #0336FF;
$site-font: 'Rubik', 'Serif';
$site-height: 100vh;
$site-width: 100vw;

$main-colour: #FFFFFF;
$like-colour: #04ff00;
$dislike-colour: #ff0000;

$logo-width: 1rem;
$logo-height: 1rem;