$background-colour: #0336FF;
$site-font: 'Rubik' !important;
$site-height: 100vh;
$site-width: 100vw;

$main-colour: #FFFFFF;
$like-colour: #04ff00;
$dislike-colour: #ff0000;

$logo-width: 1rem;
$logo-height: 1rem;


@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Regular.ttf');
}

* {
    font-family: 'Rubik';
}

.App{
    min-width: $site-width;
    min-height: $site-height;
    background-color: $background-colour;
    color: $main-colour;
}

.card-details-form{
    display: grid;
    position: relative;
    z-index: 100;
}

.dislike-btn-wrapper{
    display: flex;
    margin: auto !important;
}

.like-btn-wrapper{
    display: flex;
    margin: auto !important;
}

.front-card{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.front-card:hover{
   scale: 1.0025;
}

.card-content{
    position: absolute;
    width: 11rem;
    transform: translate(2%, 12%);
}

.card-title{
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 1rem;
    font-size: 20px;
}

.card-body{
    padding: 1rem;
    text-justify: auto;
    font-size: 18px;
}


 
.bg-card-1{
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -35%);
}

.bg-card-2{
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%);
}

.bg-card-3{
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -45%);
}

.card-stack{
    text-align: center;
    margin: auto !important;
}

.arrow-thumbs-down{
    margin: auto;
}

.thumbs-up{
    margin: auto;
}

.like-btn{
    align-items: center;
}

.dislike-btn{
    align-items: center;
}

.main-container{
    height: $site-height;
}

.main-grid{
    height: 100%;
    width: 100%;
}

.layout-cards{
    display: flex;
}

.spacer-dislike-btn{
    min-width: 83%;
}

.header-logo{
    width: $logo-width;
    height: $logo-height;
    margin-top: 5rem;
}